.task-add {
    margin: 5%;
    /* min-width: 150px; */
    /* max-width: 500px; */
    width: 90%;
}
  
.task-input-width {
    padding-left: 5px;
    width: 50%;
}

.task-date-width {
    padding-left: 5px;
    width: 30%;
}

.add-button {
    margin-left: 10px;
    width: 10%;
}

table {
    width: 100%;
}

th.mat-header-cell {
    font-weight: bolder;
    color: black;
}

.task-list {
    margin: 5%;
    width: 90%;
}

.task-list-name {
    width: 65%;
}

.task-list-date {
    width: 35%;
}

::ng-deep .task-invalid.mat-form-field.mat-focused .mat-form-field-label {
    color: #f44336 !important;
}

::ng-deep .task-invalid .mat-form-field-underline {
    background-color: #f44336 !important;
} 

::ng-deep .task-invalid .mat-form-field-ripple {
    background-color: #f44336 !important;;
}

