.container {
    margin: 5%;
    width: 90%;
}
  
.col-8, .col-6, .col-4, .col-2 {
    padding-right: 5px;
    padding-left: 5px;
}

.task-name-width {
    width: 100%;
}

.task-label-width {
    width: 100%;
}

.task-date-width {
    width: 100%;
}

.add-button {
    margin-top: 5px;
    width: 100%;
}

table {
    width: 100%;
}

th.mat-header-cell {
    font-weight: bolder;
    color: black;
}

.task-list-name {
    width: 35%;
}

.task-list-label {
    width: 15%;
}

.task-list-status {
    width: 20%;
}

.task-list-date {
    width: 20%;
}

::ng-deep .task-invalid.mat-form-field.mat-focused .mat-form-field-label {
    color: #f44336 !important;
}

::ng-deep .task-invalid .mat-form-field-underline {
    background-color: #f44336 !important;
} 

::ng-deep .task-invalid .mat-form-field-ripple {
    background-color: #f44336 !important;;
}

td.mat-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 12px;
}

td.mat-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 8px;
}

td.mat-cell,  th.mat-header-cell {
    padding: 0;
    padding-left: 4px;
    padding-right: 4px;
}

tr.mat-header-row {
    height: 48px;
}