<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon aria-hidden="false" aria-label="Task">
      assignment_turned_in
    </mat-icon>
    <span  class="title-name" >{{ appTitle }}</span>
    <span class="title-spacer"></span>
    <span class="title-username" *ngIf="isLoggedIn | async">{{ userName }}</span>
    <div *ngIf="isLoggedIn | async">
      <!-- <span class="title-username">{{ userName }}</span> -->
      <button mat-icon-button color="basic" aria-label="Logout" (click)="logout()">
        <mat-icon class="title-logout" aria-hidden="false" aria-label="Logout" (click)="logout()">
          power_settings_new
        </mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>