<div class="container">
  <div class="row">
    <div class="col-md-4 col-2"></div>
    <div class="col-md-4 col-8">
    <mat-form-field appearance="outline" id="input-username">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="Enter Username">
      <!-- <mat-hint >Maximum Length 10</mat-hint> -->
      <!-- <mat-error></mat-error> -->
    </mat-form-field>
    </div>
    <div class="col-md-4 col-2"></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-2"></div>
    <div class="col-md-4 col-8">
    <mat-form-field appearance="outline" id="input-password">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter Password">
      <!-- <mat-hint >Maximum Length 10</mat-hint> -->
      <!-- <mat-error></mat-error> -->
    </mat-form-field>
    </div>
    <div class="col-md-4 col-2"></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-2"></div>
    <div class="col-md-4 col-8">
    <button mat-raised-button color="primary" id="button-login">Login</button>
    </div>
    <div class="col-md-4 col-2"></div>
  </div>
</div>