<div class="container">
  <form [formGroup]="loginForm">
  <div class="row">
    <div class="col-md-4 col-2"></div>
    <div class="col-md-4 col-8">
    <mat-form-field appearance="outline" id="input-username">
      <mat-label>User Name</mat-label>
      <input matInput placeholder="Enter Username" formControlName="userName">
      <!-- <mat-hint >Maximum Length 10</mat-hint> -->
      <mat-error *ngIf="loginForm.controls.userName.invalid">{{ getErrorMessage('userName') }}</mat-error>
    </mat-form-field>
    </div>
    <div class="col-md-4 col-2"></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-2"></div>
    <div class="col-md-4 col-8">
    <mat-form-field appearance="outline" id="input-password">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Enter Password" formControlName="password">
      <!-- <mat-hint >Maximum Length 10</mat-hint> -->
      <mat-error *ngIf="loginForm.controls.password.invalid">{{ getErrorMessage('password') }}</mat-error>
    </mat-form-field>
    </div>
    <div class="col-md-4 col-2"></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-2"></div>
    <div class="col-md-4 col-8">
    <button mat-raised-button color="primary" id="button-login" (click)="onSubmit(loginForm)">Login</button>
    </div>
    <div class="col-md-4 col-2"></div>
  </div>
  <div class="row">
    <div class="col-md-4 col-2"></div>
    <div class="col-md-4 col-8">
    <button mat-raised-button color="primary" id="button-register" routerLink="/register" routerLinkActive="active">Register</button>
    </div>
    <div class="col-md-4 col-2"></div>
  </div>
  </form>
</div>