.container {
    margin-top: 15%;
    height: 100%;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
#input-username {
    width: 100%;
}
#input-password {
    width: 100%;
}
#button-login {
    width: 100%;
}